.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 200px;
    min-height: 75px;
    background: linear-gradient(145deg, #ff6b6b, #d43636);
    box-shadow: 2px 3px 3px #ba2f2f, 2px 3px 3px #ff4949;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }

  &-skeletor {
    background: transparent;
    animation: skeleton-loading 1.5s infinite;
  }

  &-text {
    font-family: "Roboto Flex", serif;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
  }

  &-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(145deg, #ff6b6b, #d43636);
    box-shadow: 2px 3px 3px #ba2f2f, 2px 3px 3px #ff4949;
    border-radius: 8px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &-title,
    &-text,
    &-btn {
      font-family: "Roboto Flex", serif;
    }

    &-title {
        margin: 0 0 1rem;
    }

    &-text {
        padding: .5rem;
    }

    &-box {
      list-style-type: none;
    }

    &-btn {
      width: 20px;
      transition: 0.2s ease;
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      
      &:hover {
          cursor: pointer;
          border-radius: 50px;
          background-color: #e6dfdf;
          color: white;
      }
    }
  }
}


@keyframes skeleton-loading {
  0% {
    background-color: #ff6b6b;
  }
  50% {
    background-color: #d43636;
  }
  100% {
    background-color: #ff6b6b;
  }
}